

.hintergrundSchiff1{
    -fx-background-image: url("Bild1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.hintergrundGameOptions{
    -fx-background-color:
            #ffffff,
            linear-gradient(#87CEFA 0%, #ffffff 80%, #87CEFA 100%),
            linear-gradient(#ffffff, #87CEFA),
            radial-gradient(center 50% 0%, radius 100%, rgb(0,139,139), rgb(255,255,255));
    -fx-opacity: 0.5;
}
.hintergrundkarte{
    -fx-background-image: url("water.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}